@import '../utils/variables';

.team{
  text-align: center;

  &__title{
    font-family: getFont('font-first');
    font-size: 30px;
    font-weight: 700;
    color: getCol('font-color-first');
    text-transform: uppercase; 
    margin-top: 10px;
    margin-bottom: 100px;
  }
  &__title::after{
    content:"";
    width: 100px;
    height: 4px;
    background-color: getCol('color-first');
    display: block;
    position: relative;
    top: 50px;
    border-radius: 4px;
    margin: auto;
  }
  &__subtitle{
    font-family: getFont('font-second');
    font-size: 24px;
    color: getCol('font-color-first');
    margin-top: 70px;
    margin-bottom: 0px;
  }
  &__lorem{
    margin: auto;
    width: 940px;
    font-family: getFont('font-third');
    font-size: 15px;
    color: getCol('font-color-first');
    line-height: 1.8;
    margin-bottom: 100px;
  }
&__grid{
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: 380px 380px 380px;
  gap: 30px;
}
&__photo{
  width: 380px;
  height: 460px;
  margin-bottom: 25px;
}
&__name{
  font-family: getFont('font-first');
    font-size: 14px;
    font-weight: 700;
    color: getCol('font-color-first');
    text-transform: uppercase; 
}
&__job{
  font-family: getFont('font-third');
    font-size: 15px;
    color: getCol('font-color-third');
}
&__icon-grid{
  
  list-style: none;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 365px;
  height: 442px;
  padding: 0px;
  background: linear-gradient(rgba(244,132,132, 0.9),rgba(252,228,140, 0.9));
  box-shadow: getCol('color-fourth') 10px 10px 0px;
}
&__icon{
  width: 40px;
  height: 40px;
  padding: 10px;
  fill: getCol('color-first');
  background-color: getCol('color-second');
}
&__icon:hover{
  fill: getCol('color-second');
  background-color: getCol('color-first');
}
&__overlay{
position: relative;
  bottom: 446px;
  left: 7px;

  opacity: 0;
}
&__photo:hover &__overlay{
  opacity: 1;
}
} 